<mat-sidenav-container class='container'>
         <!-- propriedades para fazer o nav aparecer no canto esquerdo  -->
    <mat-sidenav class='sidenav' mode='side' opened fixedInViewport = 'true' fixedTopGap='64'> 
        <mat-nav-list>
            <a mat-list-item class='nav-list'>
                <i class='material-icons'>
                    home
                </i>
                Início
            </a>
            <a mat-list-item>
                <i class='material-icons'>
                    storefront
                    <!-- ver mais em material.io/resources/icons -->
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>